#tables {
    background: linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(55,73,97,1) 51%, rgba(0,212,255,1) 100%);
    height: calc(100vh - 65px);
    padding: 1rem;

    .container_table {
        width: 80%;
        margin: 0rem auto;
        max-width: 1200px;

        .table {
            width: 100%;
            border-bottom: 10px solid var(--mainBlue);
            border-radius: 0 0 10px 10px;
            font-family: 'Play';
    
            thead {
                background-color: var(--mainBlue);
                text-align: left;
                color: #0E1B28;
                border-radius: 10px;
                font-size: 1.5rem;
                font-weight: bold;
                
                tr {
                    height: 50px;

                    th {
                        &:first-child {
                            padding-left: 50px;
                        }
                    }
                }
                
            }
            
            tbody {

                tr {
                    height: 3rem;
                    color: white;
                    font-size: 1rem;

                    &:nth-child(odd) {
                        background-color: var(--lightGrey);
                    }

                    &:nth-child(even) {
                        background-color: var(--darkGrey);
                    }
                }

                td {
                    
                    &:first-child {
                         padding-left: 50px;
                    }
                    &:last-child {
                        color: var(--mainBlue);
                    }
                    &:nth-child(4) {
                        color: var(--mainOrange);
                    }
                }
                
            }
              
              
        }
    }

} 