#charts {
    height: calc(100vh - 65px);
    background: linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(55,73,97,1) 51%, rgba(0,212,255,1) 100%);
    padding: 1rem;

    .charts_container{
        width: 80%;
        margin: 0rem auto;
        max-width: 1200px;

        .title {
          font-size: 1.2rem;
          color: white;
          text-align: center;
        }
        
        .chart_container_2 {
          display: flex;
          
          .chart_left {
            width: 100%;
            background-color: var(--darkGrey);
            padding: 5rem 3rem;
            border-radius: 10px;
            height: 700px;
            margin-right: 1rem;
          }

          .title {
            font-size: 1.3rem;
            color: white;
          }
    
          .chart_2 {
            width: 450px;

            .chart {
                height: 336px;
                margin-bottom: 25px;
                width: 100%;
                background-color: var(--darkGrey);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
            }

          }
        }
  }

}





