#home {
    background-color: #0B1F34;
    padding: 1rem;

    .container_home {
     
    max-width: 1200px;    
    height: calc(100vh - 94px);
    margin: auto;
    display: flex;
    align-items: center;
    background-image: url('../../assets/images/first.svg');
    background-repeat: no-repeat;
    background-size: 40rem;
    background-position-x: 100%;
    background-position-y: 50%;

    
    @media (max-width : 600px) {
        background-position-x: 20%;
        background-position-y: 20%;
        background-size: 30rem;   
    }

        .container_division {
            width: 50%;
            height: 80%;
            display: flex;
            flex-direction: column;

            @media (max-width : 600px) {
                width: 100%;
                margin-top: 10rem
            }

            @media (max-width : 1200px) {
                justify-content: center;    
            }

            .title {
                color: var(--mainBlue);
                font-size: 3rem;
                margin-top: 10rem;
                margin-bottom: 3rem;

                @media (max-width : 600px) {
                    font-size: 1.5rem;    
                    text-align: center;
                }
            }

            .subtitle {
                color: var(--mainOrange);
                font-family: 'Play', sans-serif;
            }

            img {
                margin-top: 3rem;
            }

            .button_box {
                display: flex;
                align-items: center;
                margin-top: 5rem;
                height: 80px;
                
                div {
                    background-color: var(--mainBlue);
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h2 {
                        color: var(--darkBlue);
                        font-size: 1rem;
                        text-align: center;
                    }
                }

                a {
                    background-color: var(--mainOrange);
                    color: white;
                    border: none;
                    border-top-right-radius: 10%;
                    border-bottom-right-radius: 10%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1.3rem;
                }
            }

        }

    }

}