#header {
    background-color: #37474F;
    padding: 1rem;

    .header_info {
        display: flex;
        margin-left: 3rem;
        align-items: center;
        width: 330px;

        .icon {
            color: var(--mainBlue);
        }

        h4 {
            margin-left: 1rem;
            color: white;
            span {
                color: var(--mainOrange);
            }
        }
    }
}